@import url("https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@1,400;1,700&display=swap");
@import "tailwindcss";


.font-heavy {
  font-family: "Anton", sans-serif;
}
.font-serif-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.text-outline {
  -webkit-text-stroke: 1px #333;
  color: transparent;
}

.clip-hero-left {
  clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
}
.clip-hero-mid {
  clip-path: polygon(25% 0, 100% 0, 85% 100%, 0% 100%);
  margin-left: -15%;
}
.clip-hero-right {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  margin-left: -15%;
}

@media (max-width: 768px) {
  .clip-hero-left,
  .clip-hero-mid,
  .clip-hero-right {
    clip-path: none;
    margin-left: 0;
    width: 100%;
    height: 200px;
  }
}

@media (max-height: 600px) and (min-width: 1024px) {
  .hero-container {
    height: 450px !important;
  }
  .hero-name-container {
    margin-top: -100px !important;
  }
  .hero-title {
    font-size: 5rem !important;
  }
  .hero-subtitle {
    font-size: 4rem !important;
  }
}
